certifi==2022.12.7
charset-normalizer==3.0.1
DateTime==5.0
decorator==5.1.1
idna==3.4
numpy==1.24.2
pathlib==1.0.1
pytz==2022.7.1
requests==2.28.2
tqdm==4.64.1
urllib3==1.26.14
validators==0.20.0
zope.interface==5.5.2
